*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: rgb(40,39,39);
    background: linear-gradient(90deg, rgba(40,39,39,1) 0%, rgba(47,46,48,1) 49%, rgba(40,39,39,1) 100%);
}

.board{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before{
    background: rgba(255, 255, 255, 0.3) !important;
}

.cell{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.cell.x,
.cell.circle{
    cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

/* X */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before{
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background: white;
    position: absolute;
}
.cell.x::before,
.board.x .cell:hover::before{
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:hover::after{
    transform: rotate(-45deg);
}

/* ciculo */

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before{
    content: "";
    height: calc(100px * 0.9);
    width: calc(100px * 0.9);
    background: white;
    position: absolute;
    border-radius: 50%;
}

/*menssagem de vitoria*/
.winning-messenge{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
}

.winning-messenge p {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 64px;
    letter-spacing: 1px;
    color: #FFF;
    padding: 10px;
}

.button_slide {
    color: #FFF;
    border: 2px solid white;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ffffff;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #ffffff;
    color: black;
  }

  .show-winning-messege{
      display: flex;
  }